<html>
<head>

<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<script>
  
  var app = angular.module("APP", []);

  app.controller("cardctrl", ["$scope",function($scope){
    $scope.cards = [
      {
        "stats": [
          "bleep.", 
          "bloop"
        ], 
        "name": "All Nighter", 
        "img": "ADDMANUALLY", 
        "copies": [
          0, 
          1, 
          2, 
          3
        ], 
        "subtype": "Normal", 
        "flavorText": "More hours means more productivity, right?  I can see aliens now, that must mean I did something right.", 
        "type": "action"
      }
    ];
  }]);

</script>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type="text/css" href="theme.css">
</head>
<body ng-app="APP" ng-controller="cardctrl">

  <div ng-repeat="card in cards">
    <div ng-repeat="instance in card.copies track by $index" class="card" ng-class="card.type">
      <span class="name">{{card.name}} : {{card.subtype}}</span>
      <div class='image-border'><img ng-src="{{card.img}}"></div>
      <div class="flavor-text">{{card.flavorText}}</div>
      <div class="Aligner">
        <div class="Aligner-item Aligner-item--fixed">
          <p ng-repeat="stat in card.stats">{{stat}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card student">
    <span class="name">Evan O'Malley</span>
    <div class='image-border'><img src="students/Student-EvanO.png"></div>
    <div class="flavor-text">Make a card Game? I could probably do that.</div>
    <!-- <div class="text" data-text="Base Commit + 1

Desktop Commit + 2"></div> -->
        <div class="Aligner">
      <div class="Aligner-item Aligner-item--fixed">
        <p>abcs</p>
        <p>lol</p>
      </div>
    </div>
  </div>
  
  <div class="card action">
    <span class="name">Research</span>
    <div class='image-border'><img src="pictures/A13_Research.png"></div>
    <div class="flavor-text">Research is hard</div>
    <div class="Aligner">
      <div class="Aligner-item Aligner-item--fixed">
        <span>Draw 2 Action Cards</span>
      </div>
    </div>

  </div>
  <div class="card project">
    <span class="name">Llama Tracker</span>
    <div class='image-border'><img src="pictures/LlamaTracker.png"></div>
    <div class="flavor-text">For all your tracking needs!</div>
    <div class="text" data-text="Type: Desktop

Commits Required: 18"></div>
  </div>
</body>
</html>
