html * {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin:2px;
}
.card {
  border:10px solid black;
  border-radius:20px;
  width:2.5in;
  height:3.5in;
  float:left;
  margin:0px 2px 2px 0px;
  display: flex;
  flex-flow: column;
}

/* FLAVOR TEXT */
.flavor-text {
  flex: 0 1 auto;
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.6em;
  width: 2.4in;
  margin: 0.05in;
}

.Aligner {
  background: rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: .96em;
  box-shadow: 0px 0px 5px;
  border-radius: 5px;
  width: 2.4in;
  margin: 0.05in 0.05in;
  display: flex;
  align-items: center;
  height: 24em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--fixed{
  flex: none;
}

.card p {
  text-align: center;
  margin: 0;
}
.card.student {
  border-color: rgba(112, 128, 144, 1);
  background: linear-gradient(rgb(48, 48, 111),rgb(105, 105, 212));
}
.card.action {
  border-color: rgba(144, 112, 128, 1);
  background: linear-gradient(rgb(111, 48, 48),rgb(212, 105, 105));
}
.card.project {
  border-color: rgba(112, 144, 128, 1);
  background: linear-gradient(rgb(48, 111, 48),rgb(105, 212, 105));
}
span.name {
  display: block;
  text-align: center;
  padding: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px 6px 0px 0px;
  color:rgb(232, 232, 232);
  flex: 0 1 auto;
}
img {
  display: block;
  margin: auto;
  max-width: 2.3in;
}
.image-border {
  border: 3px inset lightgray;
  margin: 5px;
  margin-top: 0px;
  background: white;
  flex: 0 1 auto;
}
.student * > img {
  min-height: 2in;
  max-height: 2in;
}
.action * > img {
  min-height: 1.5in;
  max-height: 1.5in;
}
.project * > img {
  min-height: 1.75in;
  max-height: 1.75in;
}