html * {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin:2px;
}
.card {
  border:10px solid black;
  border-radius:20px;
  width:2.5in;
  height:3.5in;
  float:left;
  margin:0px 2px 2px 0px;
  display: flex;
  flex-flow: column;
}

/* FLAVOR TEXT */
.flavor-text {
  flex: 0 1 auto;
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.6em;
  width: 2.4in;
  margin: 0.05in;
}

/* CARD TEXT */
.text {
  flex: 1 1 auto;
  /* display: block; */
  /* position: absolute; */
  background: rgba(0,0,0,0.1);
  font-weight: bold;
  border-radius: 5px;
  margin: 0.05in 0.05in;
  width: 2.4in;
  box-shadow: 0px 0px 5px;
  /* padding: 3em 0; */
  /* align-self: auto; */
  text-align: center;
  white-space: pre-wrap;

}

.Aligner {
  background: rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: .96em;
  box-shadow: 0px 0px 5px;
  border-radius: 5px;
  width: 2.4in;
  margin: 0.05in 0.05in;
  display: flex;
  align-items: center;
  height: 24em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--fixed{
  flex: none;
}

.text-content {

  display: table-cell;
  vertical-align: middle;
}

.text:after {
  content: attr(data-text);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 2.4in;
  white-space:pre-wrap;
}
/*.student  > .text {
  height: 0.97in;
}
.action > .text {
  height: 1.22in;
}
.project > .text {
  height: 0.72in;
}*/

.card p {
  text-align: center;
}

.card p:first-child {
  margin-top: 0;
}

.card p:last-child {
  margin-bottom: 0;
}
.card.student {
  border-color: rgba(112, 128, 144, 1);
  background: linear-gradient(rgb(48, 48, 111),rgb(105, 105, 212));
}
.card.action {
  border-color: rgba(144, 112, 128, 1);
  background: linear-gradient(rgb(111, 48, 48),rgb(212, 105, 105));
}
.card.project {
  border-color: rgba(112, 144, 128, 1);
  background: linear-gradient(rgb(48, 111, 48),rgb(105, 212, 105));
}
/*.student > .name {
  background: rgba(105, 212, 105, 1);
}
.action > .name {
  background: rgba(212, 105, 105, 1);
}
.project > .name {
  background: rgba(144, 144, 238, 1);
}*/
span.name {
  display: block;
  text-align: center;
  padding: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px 6px 0px 0px;
  color:rgb(232, 232, 232);
  flex: 0 1 auto;
}
img {
  display: block;
  margin: 5px auto;
  max-width: 2.4in;
}
.image-border {
  border: 3px inset lightgray;
  margin: 5px;
  margin-top: 0px;
  background: white;
  flex: 0 1 auto;
}
.student * > img {
  min-height: 2in;
  max-height: 2in;
}
.action * > img {
  min-height: 1.5in;
  max-height: 1.5in;
}
.project * > img {
  min-height: 2in;
  max-height: 2in;
}